#root {
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.carousel {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: auto;
}

.carousel-image {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.carousel-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  min-height: 100%;
  min-width: 5%;
}

.carousel-button:hover {
  background-color: #555;
}

.carousel-button.previous {
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0));
}

.carousel-button.next {
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(to left, rgba(0,0,0,0.5), rgba(0,0,0,0));
}

.carousel-button.back {
  top: 0px;
  min-height: auto;
  margin-top: 0px;
}

.info-text {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 15%;
  margin: auto;
  /* background: radial-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0)); */
  background: linear-gradient(to bottom, rgba(0,0,0,0.95), rgba(0,0,0,0));
  pointer-events: none;
  user-select: none;
}